.sl73_gcc485/
CorrectionFiles/
StRoot/CVS/
StRoot/IClasses/.consign
StRoot/StBichsel/
StRoot/StEpdUtil/
StRoot/StEvent/
StRoot/StPicoDstMaker/
StRoot/StPicoEvent/
StRoot/StarClassLibrary/
StRoot/TreeMaker/.consign
TEST.root
TreeAnalyzer
TreeAnalyzer.o
config_3p22GeV.txt
config_3p5GeV.txt
config_3p5GeV.txt~
libs/libStBichsel.so.bkup
misc/
nSigmaInfo
nSigmaInfo.cxx
nSigmaInfo.o
temp_gccflags.c
tof_efficiency.root
tof_efficiency_3p22GeV.root
v1_weights.root
v1_weights.root.nMipWeighted
v1_weights.root.notWeighted
submit/sched*
