.sl73_gcc485/
CorrectionFiles/
StRoot/CVS/
StRoot/IClasses/.consign
StRoot/StBichsel/
StRoot/StEpdUtil/
StRoot/StEvent/
StRoot/StPicoDstMaker/
StRoot/StPicoEvent/
StRoot/StarClassLibrary/
StRoot/TreeMaker/.consign
TreeAnalyzer
TreeAnalyzer.o
misc/
nSigmaInfo.o
temp_gccflags.c
submit/sched*
input/
StRoot/St_base/
source/SetupAttributes.o
source/nSigmaInfo
dict_systematics.npy
saveSystematics.py*
sched*